.trxm-notification-alert {
    position: fixed;
    top: 60px;
    left: 15px;
    width: 50%;
    transition: opacity .25s ease-in-out;
    z-index: 999;
}

.trxm-notification-alert.trxm-visible {
    opacity: 1;
}

.trxm-notification-alert.trxm-hidden {
    opacity: 0;
}