{% extends 'layout.html' %}
{% block content %}
<!-- list of scenarii -->
<div class="col-sm-12">
  <h1 class="page-header">Exposure situations</h1>
  {% for scenario in scenarii %}
  <div id="scenario-{{ scenario.id }}" class="panel panel-default scenario">
    <div class="panel-heading">
      {{ scenario.name }}
      <div class="pull-right">
        <button type="button" class="btn btn-danger btn-xs scenario-delete">Delete</button>
      </div>
    </div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <p>{{ scenario.description }}</p>
          </div>
          <div class="col-sm-6">
            <dl class="dl-horizontal">
              <dt>Date of creation</dt>
              <dd>{{ scenario.created_at.date().strftime('%d/%m/%y') }}</dd>
              <dt>Model</dt>
              <dd>{{ scenario.model or 'Undefined' }}</dd>
              <dt>Substance</dt>
              <dd>{{ scenario.substance }} ({{ scenario.cas }})</dd>
            </dl>
          </div>  
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="btn-group">
              <button type="button" class="btn btn-default scenario-edit">Edit</button>
              <button type="button" class="btn btn-default scenario-run">Run</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="panel panel-default">
    <div class="panel-body">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-new-scenario">New</button>
    </div>
    <div id="modal-new-scenario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-new-scenario" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Create new exposure situation</h4>
          </div>
          <div class="modal-body">
            <form id="form-new-scenario" class="form-horizontal" role="form">
              <div class="form-group form-group-sm">
                <label for="input-name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input class="form-control" name="name" id="input-name" placeholder="Name of the scenario">
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label for="input-substance" class="col-sm-2 control-label">Substance</label>
                <div class="col-sm-10">
                  <input class="form-control" name="substance" id="input-substance" placeholder="Name of the substance">
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label for="input-cas" class="col-sm-2 control-label">CAS</label>
                <div class="col-sm-10">
                  <input class="form-control" name="cas" id="input-cas" placeholder="CAS number of the substance">
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label for="input-model" class="col-sm-2 control-label">Model</label>
                <div class="col-sm-10">
                  <select class="form-control" name="model" id="input-model">
                    {% for model in models %}
                    <option value="{{ model.name }}">{{ model.label }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary form-submit">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock script %}