<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="EI=edge">
  <meta name="viewport" constent="width=device-width, initial-scale=1">
  <title>TREXMO</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}">

  <!-- trexmo core stylesheets -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/trexmo.css') }}" />
</head>
<body style="padding-top: 60px;">
  <div class="container">
    <div class="page-header">
      <h1>You are not logged in</h1>
    </div>
    <div>
      <p>
        You are not logged in or your session expired.
        Please click <a href="{{ url_for('login.login') }}">here</a> to sign in.
      </p>
    </div>
  </div>

  <!-- Some polyfills for IE9 and other old browsers -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
</body>
</html>
